<nav class="navbar navbar-default ">
  <div class="container-fluid">
  <!-- ヘッダー部分 ================ -->
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= new_login_path %>">料理教室予約</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_target">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  <!-- 中央のナビゲーション部分 ================ -->
    <div class="collapse navbar-collapse" id="nav_target">
      <ul class="nav navbar-nav">
        <!-- リンクのみ -->
          <li class="active"><a href="#">レッスン</a></li>
          <li><a href="/pages/tbd1">Q＆A</a></li>
          <li><a href="/pages/tbd1">ブログ</a></li>
          <li><a href="/pages/tbd1">問い合わせ</a></li>
      </ul>
  <!-- 右寄せになる部分 ================ -->
      <ul class="nav navbar-nav navbar-right">
        <!-- リンクのみ -->
          <li><a href="/login/new">先生はこちら</a></li>
      </ul>
    </div>
  </div>
</nav>
 <!-- ナビ部分終わり ================ -->
<div class="container" style="padding:20px 0">
    <h1>レッスン申し込みをありがとうございました。</h1>
</div>